{% extends 'layouts/layout.html' %}

{% block title %}
    Filmy
{% endblock %}

{% block content %}
    <div style="padding-top: 50px"></div>
    <table class="table table-responsive-sm">
      <thead class="thead-dark">
        <tr>
          <th scope="col">ID</th>
          <th scope="col">Jméno</th>
          <th scope="col">Délka</th>
          <th scope="col">csfd odkaz</th>
        </tr>
      </thead>
      <tbody>
        {% for film in films %}
            <tr class="clickable" id="{{ film.id }}">
                <th scope="row">{{ film.id }}</th>
                <td>{{ film.name }}</td>
                <td>{{ film.duration }}</td>
                <td><a href="#" onclick="openWebsite('{{ film.csfd_link }}')">{{ film.csfd_link }}</a></td>
            </tr>
        {% endfor %}
      </tbody>
    </table>
{% endblock %}

{% block js %}
    <script>
    /*$.ready(function () {

    });*/
    var clicked = false;
    function openWebsite(url) {
        window.open(url, '_blank');
        clicked = true
    }
    $('.clickable').click(function () {
        if(!clicked)
        {
            var win = window.open('/films/' + $(this).attr('id'), '_blank');
            win.focus();
        }
        clicked = false;
    });
    </script>
{% endblock %}