{% extends 'layouts/layout.html' %}

{% block title %}
    Filmy
{% endblock %}

{% block content %}
    {% load static %}
    <div style="padding-top: 50px"></div>
    <table class="table table-responsive-sm">
      <thead class="thead-dark">
        <tr>
          <th scope="col">Přehrát</th>
          <th scope="col">Jméno</th>
          <th scope="col">Délka</th>
          <th scope="col">csfd odkaz</th>
        </tr>
      </thead>
      <tbody>
        {% for film in films %}
            <tr class="" id="{{ film.id }}">
                <th id="{{ film.id }}" scope="row"><a href="/films/{{ film.id }}/" style="margin-left: 10%"><img src="{% static "icons/play-button.png" %}" height="30px"></a></th>
                <td>{{ film.name }}</td>
                <td>{{ film.duration }}</td>
                {% if film.csfd_link %}
                    <td><a href="#" onclick="openWebsite('{{ film.csfd_link }}')">{{ film.csfd_link }}</a></td>
                {% else %}
                    <td><a class="btn btn-success">Přidat odkaz (nefunkční)</a></td>
                {% endif %}
            </tr>
        {% endfor %}
      </tbody>
    </table>
{% endblock %}

{% block js %}
    <script>
    var clicked = false;
    function openWebsite(url) {
        window.open(url, '_blank');
        clicked = true
    }
    $('.clickable').click(function () {
        if(!clicked)
        {
            var win = window.open('/films/' + $(this).attr('id'), '_blank');
            win.focus();
        }
        clicked = false;
    });
    </script>
{% endblock %}