{% extends 'layouts/layout.html' %}

{% block title %}
    {{ film.name }}
{% endblock %}

{% block content %}
    <link href="https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@500&display=swap" rel="stylesheet">
    {% load static %}
    <div style="width: 100%; height: 100%">
        <div style="margin-left: 50px">
            <div class="row">
                <div class="col-6">
                    <h2 style="font-family: 'Roboto Mono', monospace; margin-top: 20px">{{ film.name }}</h2>
                </div>
                <div class="col-4">
                    {% if user.is_superuser %}
                        <div style="bottom: 0px; position: absolute">
                            <a href="/films/{{ film.id }}/edit" class="btn btn-warning">Edit&nbsp;film</a>
                            <a href="/films/{{ film.id }}/delete" onclick="deleteFilm();" class="btn btn-danger">Delete&nbsp;film</a>
                        </div>
                    {% endif %}
                </div>
            </div>
            {% if film.description %}
                <h4>Popis od autora: </h4>
                <div class="card">
                    <div class="card-body">
                        <p class="card-text">{{ film.description }}</p>
                    </div>
                </div>
            {% endif %}
            <p class="lead">Délka: {{ film.duration }}</p>
            <p class="lead">Přidáno uživatelem: {{ film.author }}</p>
            <p class="lead">Přípona souboru: {{ film.extension }}</p>
            <p class="lead">Velikost: {{ film.size|filesizeformat }}</p>

            {% if csfd_description %}
                {% if csfd_rating %}
                    <h4>Popis z <a href="{{ film.csfd_link }}">CSFD</a>&nbsp;({{ csfd_rating }})</h4>
                    <div class="card">
                        <div class="card-body">
                            <p class="card-text">{{ csfd_description }}</p>
                        </div>
                    </div>
                {% endif %}
            {% endif %}
        </div>
        <video id="video" width="50%" controls style="margin-left: auto; margin-right: auto; display: block; margin-top: 100px; margin-bottom: 100px; max-height: 50%" playsinline>
            <source src="{% static film.film_url %}#t=50" type="video/{{ film.extension|slice:"1:" }} ">
            Tvůj prohlížeč nepodporuje tento typ videí.
        </video>
    </div>
{% endblock %}

{% block js %}
    <script>
        document.getElementById('video').currentTime = {{ watched_time }};

        $(window).on('beforeunload', function(){
            console.log("beforeUnload event!");
            $.ajax({
                type: "POST",
                url: '/films/{{ film.id }}/save/',
                data: {
                    'time': document.getElementById('video').currentTime,
                },
            });
        });

        function deleteFilm() {
            if(!confirm("Do you really want to delete film?"))
            {
                event.preventDefault();
            }
        }
    </script>
{% endblock %}